@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-[#fefdfe] text-[#292829] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-[#576ab9] decoration-[#576ab9];
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl  text-[#f31f51];
  }

  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl;
  }

  li {
    @apply list-none cursor-pointer;
  }
}
